.card-item {
    @include grid(25px);
    background-color: #fff;
    box-shadow: 0px 0px 4px 0 $shadow-color;
    padding: 15px 10px;
    margin: 15px 0;

    // HEADER
    .card-header {
        @include grid(0, grid-template-columns, 1fr 10%);
        align-items: center;

        .card-user {
            @include grid(10px, grid-template-columns, 30px 1fr);
            align-items: center;

            .user-img-container {
                @include userProfile(30px, 30px);

                img {
                    height: 100%;
                }
            }
        }

        .card-more-options {

            .toggle-icon {
                @include grid(4px);
                cursor: pointer;

                div {
                    border-radius: 50%;
                    height: 3px;
                    width: 3px;
                    background: #a2b9dc;
                }
            }
        }
    }

    // CONTENT
    .card-content {
        margin: 0 20px;

        .date-stamp {
            color: #a5a5a5dd;
            font-size: 12px;
            font-weight: 100;
            margin-bottom: 13px;
        }

        .card-caption {
            color: $primary-text-color;
        }

        .card-attachment {
            width: 100%;
        }

        .card-attachment img {
            width: 100%;
        }
    }

    //FOOTER
    .card-footer {
        margin: 0 20px;

        .card-interact {
            @include grid(10px, grid-template-columns, .5fr .5fr 1fr);

            .card-icon-action {
                .icon {
                    cursor: pointer;
                    @include icon(20px, 20px);

                    svg {
                        fill: $card-icon-color;
                    }
                }

                .count {
                    font-size: 12px;
                    color: #a2a2a2;
                }
            }

            .likes, 
            .comments {
                @include grid(5px, grid-template-columns, 1fr 1fr);
                align-items: center;
            }

            .like-btn {
                &.liked svg {
                    fill: red;
                }
            }

            .bookmark {
                justify-self: end;
            }
        }
    }
}

//Dark Mode
.card-item.dark-mode {
    background: $dm-pop-bg-color;

    .card-caption {
        color: $dm-text-color;
    }

    .card-interact {
        .like-btn {
            &.liked svg {
                fill: #FFFF;
            }
        }
    }
}