#bottom-nav {
    @include nav(repeat(5, 1fr),38px);
    @include position(fixed,unset,0,0,0);
    box-shadow: 0 -4px 5px 0 $shadow-color;
    padding: 5px 20px;
    transition: .2s ease-in;
    background: #FFFF;

    .nav-icon {
        @include icon(25px, 25px);
        padding: 5px;

        &.active svg {
            fill: $primary-color;
        }

        svg {
            fill: $bottom-icon-color;
        }
        
    }

    .nav-add-post {
        position: relative;
        height: 100%;
        width: 100%;
        display: grid;
        justify-items: center;

        .btn-container {
            border-radius: 50%;
            position: absolute;
            bottom: 10px;
            height: 55px;
            width: 55px;
            overflow: hidden;
            box-shadow: 0 0 6px 0 #00000061;
            text-align: center;

            button {
                @include addPostBtn(34px);
                width: 100%;
                height: 100%;
                display: inline-block;
                padding: 0;
            }
        }
    }

    .nav-notifs {
        grid-area: 1 / 4;
    }

    .nav-message {
        grid-area: 1 / 5;
    }

    .nav-home,
    .nav-search,
    .nav-notifs,
    .nav-message {
        justify-self: center;
    }
}

#bottom-nav.hide {
    transition: 0.2s ease-in;
    transform: translateY(100%);
}

#bottom-nav.dark-mode {
    background: $dm-bg-color;
}