#bottom-nav {
    @include nav(repeat(5, 1fr),38px);
    @include position(fixed,unset,0,0,0);
    box-shadow: 0 -4px 5px 0 $shadow-color;
    padding: 5px 20px;
    transition: $normal-transition;
    background: #FFFF;

    .nav-icon {
        @include icon(25px, 25px);
        padding: 5px;

        &.active svg {
            fill: $primary-color;
        }

        svg {
            fill: $bottom-icon-color;
        }
        
    }

    .nav-add-post {
        @include position(relative);
        @include grid();
        justify-items: center;
        height: 100%;
        width: 100%;

        .btn-container {
            @include position(absolute);
            bottom: 10px;
            height: 55px;
            width: 55px;
            text-align: center;
            padding: 0;

            &:focus,
            &:active {
                outline: none;
            }

            button {
                box-shadow: 0 0 6px 0 $shadow-color;
                width: 100%;
                height: 100%;
                display: inline-block;
                border-radius: 50%;
                padding-bottom: 6px;
                font-size: 34px;

                &:focus,
                &:active {
                    outline: none;
                }

            }
        }
    }

    .nav-notifs {
        grid-area: 1 / 4;
    }

    .nav-message {
        grid-area: 1 / 5;
    }

    .nav-home,
    .nav-search,
    .nav-notifs,
    .nav-message {
        justify-self: center;
    }
}

#bottom-nav.hide {
    @include translate('y', 100%, $normal-transition);
}

//Dark mode
#bottom-nav.dark-mode {
    background: $dm-bg-color;
}