header {
    margin-bottom: 50px;

    #top-nav {
        @include nav(repeat(3, 1fr), 50px);
        @include position(fixed, 0, 0, unset, 0);
    
        box-shadow: 0 4px 4px 0 $shadow-color;
        padding: 5px 10px;
        background-color: #FFFF;
    
        #side-drawer-toggle {
            @include grid(5px, grid-template-rows, repeat(3, 1fr));
            padding: 10px;
            width: 30px;
    
            div {
                background-color: #DDD;
                height: 3px;
            }
        }

        .app-logo {
            justify-self: center;

            .icon-container {
                width: 45px;
                cursor: pointer;
            }
            svg {
                fill: $primary-color;
            }
        }

        .app-user {
            justify-self: end;

            .user-img-container {
                @include userProfile(35px, 35px);
                
                img {
                    height: 100%;
                }
            }
        }
    }
}

//Dark mode
#top-nav.dark-mode {
    background: $dm-bg-color;
}