#new-post-container {
    @include position(fixed,unset,0,0,0);
    @include translate('y', 100%, $normal-transition);
    background: #ffffff;
    z-index: 2;
    
    .new-post-content {
        @include grid(10px);
        min-height: 155px;
        padding: 10px 30px;
        box-shadow: 0 -2px 8px 0 $shadow-color;

        .new-post-header {
            font-size: 14px;
            color: $primary-color;
        }

        .new-post-body {
            margin: 15px 0;

            textarea {
                width: 100%
            }

            .attached-files-container {
                @include grid(0, grid-template-columns, repeat(auto-fill, minmax(50px, 1fr)));

                .img-container {
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                }
            }
        }
        
        .new-post-footer {
            @include grid(5px, grid-template-columns, 1fr 1fr);
            
            .attachment-icons {
                @include grid(16px, grid-template-columns, repeat(3, 1fr));
                width: 125px;
                
                input[type="file"] {
                    display: none;
                }

                .icon {
                    @include icon(25px, 25px);

                    svg {
                        fill: $primary-color;
                    }
                }
            }

            .btn-container {
                justify-self: end;
            }
        }
    }
}

#new-post-container.show {
    @include translate('y', 0, $normal-transition);
}

//Dark mode
#new-post-container.dark-mode,
#new-post-container.dark-mode textarea {
    background: $dm-pop-bg-color;
    color: #fff;
}