main {
    padding-bottom: 25vh;
    
    #newsfeed-body {
        padding: 20px;

        .card-item-orig {
            display: none;
        }
        .cards-wrapper {
            height: 100%;

            @media (min-width: 501px) {
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}


//Dark mode
#newsfeed-body.dark-mode {
    background: $dm-bg-color;
}