// General Mixins
@mixin grid($gap: null, $direction: null, $values: null) {
    display: grid;
    grid-gap: $gap;
    #{$direction}: $values;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin translate($direction, $value: null, $duration: null) {

    @if($direction == 'x') {
        transform: translateX($value);
    } @else {
        transform: translateY($value);
    }

    transition: $duration;
}

//Specific Component Mixins
@mixin nav($cols, $height) {
    @include grid(0, grid-template-columns, $cols);
    height: $height;
    align-items: center;
}

@mixin icon($width, $height) {
    width: $width;
    height: $height;
}

@mixin svg($fill, $outline: 'none') {
    fill: $fill;
    outline: $outline;
}

@mixin userProfile($width, $height) {
    width: $width;
    height: $height;
    border-radius: 50%;
    overflow: hidden;
}