///// DEFAULT THEME ////
//Colors
$primary-color: #3181fd;
$primary-color-hov: #0064ff;
$shadow-color: #00000030;

//Button
$btn-disabled: .25;

//Icons
$bottom-icon-color: #a0a0a0;
$card-icon-color: #a2a2a2;

///// DARK THEME ////
// Starting with dm- (dark mode)
$dm-text-color: #FFFF;
$dm-bg-color: #282946;