header {
  margin-bottom: 50px;
}
header #top-nav {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-area: "false";
  height: 50px;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: unset;
  left: 0;
  box-shadow: 0 4px 4px 0 #00000030;
  padding: 5px 10px;
  background-color: #FFFF;
}
header #top-nav #side-drawer-toggle {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 10px;
  width: 30px;
}
header #top-nav #side-drawer-toggle div {
  background-color: #DDD;
  height: 3px;
}
header #top-nav .app-logo {
  justify-self: center;
}
header #top-nav .app-logo .icon-container {
  width: 45px;
  cursor: pointer;
}
header #top-nav .app-logo svg {
  fill: #3181fd;
}
header #top-nav .app-user {
  justify-self: end;
}
header #top-nav .app-user .user-img-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
header #top-nav .app-user .user-img-container img {
  height: 100%;
}

#top-nav.dark-mode {
  background: #282946;
}

#side-drawer {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #272727;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  background-color: #FFFF;
  transform: translateX(-100%);
}
#side-drawer.open {
  transform: translateX(0);
}
#side-drawer.close {
  transform: translateX(-100%);
}
#side-drawer .side-menu-main,
#side-drawer .side-menu-settings {
  font-size: 14px;
  color: #333333dd;
}
#side-drawer .side-drawer-content {
  display: grid;
  grid-gap: 20px;
}
#side-drawer .side-drawer-content .app-user {
  display: grid;
  grid-template-columns: 25% 1fr;
  align-items: center;
  grid-gap: 10px;
}
#side-drawer .side-drawer-content .switch-mode-toggle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
#side-drawer .side-drawer-content .switch-mode-toggle .mode-toggle-container {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 18px;
}
#side-drawer .side-drawer-content .switch-mode-toggle .mode-toggle-container input {
  opacity: 0;
}
#side-drawer .side-drawer-content .switch-mode-toggle .mode-toggle-container .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  cursor: pointer;
}
#side-drawer .side-drawer-content .switch-mode-toggle .mode-toggle-container .slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background-color: #FFFF;
  transition: 0.4s;
}
#side-drawer .side-drawer-content .switch-mode-toggle .mode-toggle-container input:checked + .slider {
  background-color: #3181fd;
}
#side-drawer .side-drawer-content .switch-mode-toggle .mode-toggle-container input:focus + .slider {
  box-shadow: 0 0 1px #3181fd;
}
#side-drawer .side-drawer-content .switch-mode-toggle .mode-toggle-container input:checked + .slider:before {
  transform: translateX(26px);
}
#side-drawer .side-drawer-content .drawer-item {
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  align-items: center;
  grid-gap: 5px;
  margin: 30px 0;
}
#side-drawer .side-drawer-content .drawer-item .icon {
  width: 15px;
  height: 15px;
}
#side-drawer .side-drawer-content .user-img-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
#side-drawer .side-drawer-content .user-img-container img {
  height: 100%;
}

#side-drawer.dark-mode {
  background: #393a63;
}
#side-drawer.dark-mode .side-menu-main,
#side-drawer.dark-mode .side-menu-settings {
  color: #929292;
}

main {
  padding-bottom: 25vh;
}
main #newsfeed-body {
  padding: 20px;
}
main #newsfeed-body .card-item-orig {
  display: none;
}
main #newsfeed-body .cards-wrapper {
  height: 100%;
}
@media (min-width: 501px) {
  main #newsfeed-body .cards-wrapper {
    width: 50%;
    margin: 0 auto;
  }
}

#newsfeed-body.dark-mode {
  background: #282946;
}

.card-item {
  background-color: #fff;
  box-shadow: 0px 0px 4px 0 #00000030;
  display: grid;
  padding: 15px 10px;
  grid-gap: 25px;
  margin: 15px 0;
}
.card-item .card-header {
  display: grid;
  grid-template-columns: 1fr 10%;
  align-items: center;
}
.card-item .card-header .card-user {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 30px 1fr;
  align-items: center;
}
.card-item .card-header .card-user .user-img-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.card-item .card-header .card-user .user-img-container img {
  height: 100%;
}
.card-item .card-header .card-more-options .toggle-icon {
  display: grid;
  grid-gap: 4px;
  cursor: pointer;
}
.card-item .card-header .card-more-options .toggle-icon div {
  border-radius: 50%;
  height: 3px;
  width: 3px;
  background: #a2b9dc;
}
.card-item .card-content {
  margin: 0 20px;
}
.card-item .card-content .date-stamp {
  color: #a5a5a5dd;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 13px;
}
.card-item .card-content .card-caption {
  color: #333333dd;
}
.card-item .card-content .card-attachment {
  width: 100%;
}
.card-item .card-content .card-attachment img {
  width: 100%;
}
.card-item .card-footer {
  margin: 0 20px;
}
.card-item .card-footer .card-interact {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  grid-gap: 10px;
}
.card-item .card-footer .card-interact .card-icon-action .icon {
  width: 20px;
  height: 20px;
}
.card-item .card-footer .card-interact .card-icon-action .icon svg {
  fill: #a2a2a2;
}
.card-item .card-footer .card-interact .card-icon-action .count {
  font-size: 12px;
  color: #a2a2a2;
}
.card-item .card-footer .card-interact .likes,
.card-item .card-footer .card-interact .comments {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  align-items: center;
}
.card-item .card-footer .card-interact .bookmark {
  justify-self: end;
}

.card-item.dark-mode {
  background: #393a63;
}
.card-item.dark-mode .card-caption {
  color: #929292;
}

#bottom-nav {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-area: "false";
  height: 30px;
  align-items: center;
  position: fixed;
  top: unset;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 -4px 5px 0 #00000030;
  padding: 10px 20px;
  transition: 0.2s ease-in;
  background: #FFFF;
}
#bottom-nav .nav-icon {
  width: 25px;
  height: 25px;
}
#bottom-nav .nav-icon svg {
  fill: #a0a0a0;
}
#bottom-nav .nav-add-post {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
}
#bottom-nav .nav-add-post .btn-container {
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  height: 55px;
  width: 55px;
  overflow: hidden;
  box-shadow: 0 0 6px 0 #00000061;
}
#bottom-nav .nav-add-post .btn-container button {
  font-size: 34px;
  width: 100%;
  height: 100%;
  text-align: center;
}
#bottom-nav .nav-notifs {
  grid-area: 1/4;
}
#bottom-nav .nav-message {
  grid-area: 1/5;
}
#bottom-nav .nav-home,
#bottom-nav .nav-search,
#bottom-nav .nav-notifs,
#bottom-nav .nav-message {
  justify-self: center;
}

#bottom-nav.hide {
  transition: 0.2s ease-in;
  transform: translateY(100%);
}

#bottom-nav.dark-mode {
  background: #282946;
}

#new-post-container {
  background: #ffffff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.2s ease-in;
  transform: translateY(100%);
  z-index: 2;
}
#new-post-container .new-post-content {
  min-height: 155px;
  padding: 10px 30px;
  display: grid;
  grid-gap: 10px;
  box-shadow: 0 -2px 8px 0 #00000030;
}
#new-post-container .new-post-content .new-post-header {
  font-size: 14px;
  color: #3181fd;
}
#new-post-container .new-post-content .new-post-body {
  margin: 15px 0;
}
#new-post-container .new-post-content .new-post-body textarea {
  width: 100%;
}
#new-post-container .new-post-content .new-post-body .attached-files-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}
#new-post-container .new-post-content .new-post-body .attached-files-container .img-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
}
#new-post-container .new-post-content .new-post-footer {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
}
#new-post-container .new-post-content .new-post-footer .attachment-icons {
  width: 125px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}
#new-post-container .new-post-content .new-post-footer .attachment-icons input[type=file] {
  display: none;
}
#new-post-container .new-post-content .new-post-footer .attachment-icons .icon {
  width: 25px;
  height: 25px;
}
#new-post-container .new-post-content .new-post-footer .attachment-icons .icon svg {
  fill: #3181fd;
}
#new-post-container .new-post-content .new-post-footer .btn-container {
  justify-self: end;
}

#new-post-container.show {
  transform: translateY(0);
  transition: 0.2s ease-in;
}

#new-post-container.dark-mode,
#new-post-container.dark-mode textarea {
  background: #393a63;
  color: #fff;
}

html,
body {
  height: 100%;
  font-family: Helvetica, sans-serif;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
html #wrapper,
body #wrapper {
  min-height: 100%;
  position: relative;
  background-color: #FFFF;
}
html #wrapper textarea,
body #wrapper textarea {
  font-family: Helvetica, sans-serif;
  resize: none;
  overflow: scroll;
  border: none;
  min-height: 70px;
  background: #FFFF;
}
html #wrapper a,
body #wrapper a {
  text-decoration: none;
}
html #wrapper li,
body #wrapper li {
  list-style: none;
}
html #wrapper h1, html #wrapper h2, html #wrapper h3, html #wrapper h4, html #wrapper h5, html #wrapper h6,
html #wrapper p,
body #wrapper h1,
body #wrapper h2,
body #wrapper h3,
body #wrapper h4,
body #wrapper h5,
body #wrapper h6,
body #wrapper p {
  margin: 0;
}
html #wrapper button,
body #wrapper button {
  border: none;
  text-align: center;
  cursor: pointer;
}
html #wrapper .btn,
body #wrapper .btn {
  border-radius: 5px;
  padding: 5px 12px;
}
html #wrapper .btn:disabled,
body #wrapper .btn:disabled {
  opacity: 0.25;
}
html #wrapper .btn-icon,
body #wrapper .btn-icon {
  background: none;
  cursor: pointer;
}
html #wrapper .primary-btn,
body #wrapper .primary-btn {
  color: #FFFF;
  background-color: #3181fd;
}
html #wrapper .primary-btn:hover, html #wrapper .primary-btn:focus, html #wrapper .primary-btn:active,
body #wrapper .primary-btn:hover,
body #wrapper .primary-btn:focus,
body #wrapper .primary-btn:active {
  background: #0064ff;
}
html #wrapper img,
body #wrapper img {
  width: 100%;
}
html #wrapper .username,
body #wrapper .username {
  font-weight: 700;
}

#wrapper.dark-mode {
  color: #FFFF;
  background: #282946;
}

#backdrop {
  display: none;
  background: #0b0e2b8a;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#no-posts-container #no-posts-view {
  display: grid;
  height: 70vh;
  padding: 20px;
  align-items: center;
  text-align: center;
}
#no-posts-container #no-posts-view .no-posts-content {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
}
#no-posts-container #no-posts-view .no-posts-content .img-container {
  width: 100%;
}
@media (min-width: 501px) {
  #no-posts-container #no-posts-view .no-posts-content .img-container {
    width: 30%;
  }
}